
<div class="min-h-screen bg-gray-50 p-6 font-sans">
    <div class="h-screen w-64 fixed left-0 top-0 bg-[#0f172a] shadow-md">

        <app-menu-perfil/>

        <!-- Navigation -->
        <nav class="flex min-w-[240px] flex-col gap-1 p-2 font-sans text-base font-normal text-white">
            @for (option of menuLateral; track $index) {
                <app-barralateral-menu [title]="option.name" 
                    [subItems]="option.subItems ?? []" 
                    [IconSVG]="option.icon" 
                    (menuToggled)="toggleActiveMenu($event)"
                    [activeMenu]="activeMenu" 
                    [menuId]="option.name"/>
            }

            <hr class="my-2 border-blue-gray-50" />
                <app-option-barralateral/>
        </nav>
    </div>

    <div class="ml-64 mx-auto mt-0">
       <router-outlet/>
    </div>
</div>