<div class="space-y-8 p-1">
  <header-title-page [titleHead]="headTitle" />

  <num-cards-totales [itemsValores]="cardsValor()" />

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-8">
    <!-- Flujo de Caja Card -->
    <app-flujo-caja-card [chartData]="chartData()" />

    <!-- Transacciones Recientes Card -->
    <app-transacciones-recientes-card [recentTransactions]="recentTransactions()" />
  </div>

  <!-- Accesos Rápidos -->
  <app-quick-access [accesoRapido]="accesoRapido" />
</div>