<div class="p-6 border-b border-gray-100">
            <div class="flex items-center">
            <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Brian Hughes" class="w-10 h-10 rounded-full">
                <div id="logo" class="my-4 px-6">
                    <h1 routerLink="/" class="cursor-pointer text-lg md:text-2xl font-bold text-black">Admin<span class="text-blue-500">Panel</span></h1>
                    <p class="text-slate-500 text-sm">Sistema de Gestion</p>
                </div>
            </div>
</div>
