<div class="p-6 border-b border-gray-100">
            <div class="flex items-center">
                <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="Brian Hughes" class="w-10 h-10 rounded-full">
                <div id="logo" class="my-4 px-6">
                    <h1 routerLink="/" class="cursor-pointer text-2xl md:text-2xl font-bold text-gray-100">Admin<span class="text-blue-500">Panel</span></h1>
                    <p class="text-gray-100 text-sm">Sistema de Gestion</p>
                </div>
            </div>
</div>
